/*  your css code here. If applicable */
body {
	background-color: rgb(204, 204, 204);
}

.cont {
	border: 1px solid black;
	/* height: auto; */
	/* width: 70vw; */
	padding: 10px;
	margin: auto;
	background-color: white;
	border-radius: 10px;
}

.player_one, .player_two {
	
	/* margin: auto; */
	width: 100%;
}